In [1]:
import pandas as pd
data = pd.read_csv('communities.csv')
data

,8,?,?.1,Lakewoodcity,1,0.19,0.33,0.02,0.9,0.12,...,0.12.2,0.26.1,0.2.1,0.06.3,0.04.2,0.9.1,0.5.2,0.32.2,0.14.3,0.2.2
0,53,?,?,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,?,?,?,?,0.00,?,0.67
1,24,?,?,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,?,?,?,?,0.00,?,0.43
2,34,5,81440,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.02,0.39,0.28,?,?,?,?,0.00,?,0.12
3,42,95,6096,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,?,?,?,?,0.00,?,0.03
4,6,?,?,SouthPasadenacity,1,0.02,0.28,0.06,0.54,1.00,...,0.01,0.58,0.10,?,?,?,?,0.00,?,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1988,12,?,?,TempleTerracecity,10,0.01,0.40,0.10,0.87,0.12,...,0.01,0.28,0.05,?,?,?,?,0.00,?,0.09
1989,6,?,?,Seasidecity,10,0.05,0.96,0.46,0.28,0.83,...,0.02,0.37,0.20,?,?,?,?,0.00,?,0.45
1990,9,9,80070,Waterburytown,10,0.16,0.37,0.25,0.69,0.04,...,0.08,0.32,0.18,0.08,0.06,0.78,0,0.91,0.28,0.23
1991,25,17,72600,Walthamcity,10,0.08,0.51,0.06,0.87,0.22,...,0.03,0.38,0.33,0.02,0.02,0.79,0,0.22,0.18,0.19
1992,6,?,?,Ontariocity,10,0.20,0.78,0.14,0.46,0.24,...,0.11,0.30,0.05,0.08,0.04,0.73,0.5,1.00,0.13,0.48

In [2]:
# drop columns with missing data, drop duplicates

df = data.replace('?', None).dropna(axis='columns', how='any')  #, inplace=True)
df.drop_duplicates()
df

,8,Lakewoodcity,1,0.19,0.33,0.02,0.9,0.12,0.17,0.34,...,0.12.1,0.42,0.5.1,0.51.1,0.64,0.12.2,0.26.1,0.2.1,0.32.2,0.2.2
0,53,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,0.07,0.26,...,0.21,0.50,0.34,0.60,0.52,0.02,0.12,0.45,0.00,0.67
1,24,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,0.04,0.39,...,0.14,0.49,0.54,0.67,0.56,0.01,0.21,0.02,0.00,0.43
2,34,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,0.10,0.51,...,0.19,0.30,0.73,0.64,0.65,0.02,0.39,0.28,0.00,0.12
3,42,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,0.05,0.38,...,0.11,0.72,0.64,0.61,0.53,0.04,0.09,0.02,0.00,0.03
4,6,SouthPasadenacity,1,0.02,0.28,0.06,0.54,1.00,0.25,0.31,...,0.70,0.42,0.49,0.73,0.64,0.01,0.58,0.10,0.00,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1988,12,TempleTerracecity,10,0.01,0.40,0.10,0.87,0.12,0.16,0.43,...,0.22,0.28,0.34,0.48,0.39,0.01,0.28,0.05,0.00,0.09
1989,6,Seasidecity,10,0.05,0.96,0.46,0.28,0.83,0.32,0.69,...,0.53,0.25,0.17,0.10,0.00,0.02,0.37,0.20,0.00,0.45
1990,9,Waterburytown,10,0.16,0.37,0.25,0.69,0.04,0.25,0.35,...,0.25,0.68,0.61,0.79,0.76,0.08,0.32,0.18,0.91,0.23
1991,25,Walthamcity,10,0.08,0.51,0.06,0.87,0.22,0.10,0.58,...,0.45,0.64,0.54,0.59,0.52,0.03,0.38,0.33,0.22,0.19
1992,6,Ontariocity,10,0.20,0.78,0.14,0.46,0.24,0.77,0.50,...,0.68,0.50,0.34,0.35,0.68,0.11,0.30,0.05,1.00,0.48

In [3]:
# columns names

df.columns = [f'C{i}' for i in range(1, 104)]
df

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C94,C95,C96,C97,C98,C99,C100,C101,C102,C103
0,53,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,0.07,0.26,...,0.21,0.50,0.34,0.60,0.52,0.02,0.12,0.45,0.00,0.67
1,24,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,0.04,0.39,...,0.14,0.49,0.54,0.67,0.56,0.01,0.21,0.02,0.00,0.43
2,34,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,0.10,0.51,...,0.19,0.30,0.73,0.64,0.65,0.02,0.39,0.28,0.00,0.12
3,42,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,0.05,0.38,...,0.11,0.72,0.64,0.61,0.53,0.04,0.09,0.02,0.00,0.03
4,6,SouthPasadenacity,1,0.02,0.28,0.06,0.54,1.00,0.25,0.31,...,0.70,0.42,0.49,0.73,0.64,0.01,0.58,0.10,0.00,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1988,12,TempleTerracecity,10,0.01,0.40,0.10,0.87,0.12,0.16,0.43,...,0.22,0.28,0.34,0.48,0.39,0.01,0.28,0.05,0.00,0.09
1989,6,Seasidecity,10,0.05,0.96,0.46,0.28,0.83,0.32,0.69,...,0.53,0.25,0.17,0.10,0.00,0.02,0.37,0.20,0.00,0.45
1990,9,Waterburytown,10,0.16,0.37,0.25,0.69,0.04,0.25,0.35,...,0.25,0.68,0.61,0.79,0.76,0.08,0.32,0.18,0.91,0.23
1991,25,Walthamcity,10,0.08,0.51,0.06,0.87,0.22,0.10,0.58,...,0.45,0.64,0.54,0.59,0.52,0.03,0.38,0.33,0.22,0.19
1992,6,Ontariocity,10,0.20,0.78,0.14,0.46,0.24,0.77,0.50,...,0.68,0.50,0.34,0.35,0.68,0.11,0.30,0.05,1.00,0.48

In [4]:
cols = list(df.columns)
a, b = cols.index('C1'), cols.index('C2')
cols[a], cols[b] = cols[b], cols[a]
df = df[cols]
df

,C2,C1,C3,C4,C5,C6,C7,C8,C9,C10,...,C94,C95,C96,C97,C98,C99,C100,C101,C102,C103
0,Tukwilacity,53,1,0.00,0.16,0.12,0.74,0.45,0.07,0.26,...,0.21,0.50,0.34,0.60,0.52,0.02,0.12,0.45,0.00,0.67
1,Aberdeentown,24,1,0.00,0.42,0.49,0.56,0.17,0.04,0.39,...,0.14,0.49,0.54,0.67,0.56,0.01,0.21,0.02,0.00,0.43
2,Willingborotownship,34,1,0.04,0.77,1.00,0.08,0.12,0.10,0.51,...,0.19,0.30,0.73,0.64,0.65,0.02,0.39,0.28,0.00,0.12
3,Bethlehemtownship,42,1,0.01,0.55,0.02,0.95,0.09,0.05,0.38,...,0.11,0.72,0.64,0.61,0.53,0.04,0.09,0.02,0.00,0.03
4,SouthPasadenacity,6,1,0.02,0.28,0.06,0.54,1.00,0.25,0.31,...,0.70,0.42,0.49,0.73,0.64,0.01,0.58,0.10,0.00,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1988,TempleTerracecity,12,10,0.01,0.40,0.10,0.87,0.12,0.16,0.43,...,0.22,0.28,0.34,0.48,0.39,0.01,0.28,0.05,0.00,0.09
1989,Seasidecity,6,10,0.05,0.96,0.46,0.28,0.83,0.32,0.69,...,0.53,0.25,0.17,0.10,0.00,0.02,0.37,0.20,0.00,0.45
1990,Waterburytown,9,10,0.16,0.37,0.25,0.69,0.04,0.25,0.35,...,0.25,0.68,0.61,0.79,0.76,0.08,0.32,0.18,0.91,0.23
1991,Walthamcity,25,10,0.08,0.51,0.06,0.87,0.22,0.10,0.58,...,0.45,0.64,0.54,0.59,0.52,0.03,0.38,0.33,0.22,0.19
1992,Ontariocity,6,10,0.20,0.78,0.14,0.46,0.24,0.77,0.50,...,0.68,0.50,0.34,0.35,0.68,0.11,0.30,0.05,1.00,0.48

In [5]:
df.columns = [f'C{i}' for i in range(1, 104)]
df

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C94,C95,C96,C97,C98,C99,C100,C101,C102,C103
0,Tukwilacity,53,1,0.00,0.16,0.12,0.74,0.45,0.07,0.26,...,0.21,0.50,0.34,0.60,0.52,0.02,0.12,0.45,0.00,0.67
1,Aberdeentown,24,1,0.00,0.42,0.49,0.56,0.17,0.04,0.39,...,0.14,0.49,0.54,0.67,0.56,0.01,0.21,0.02,0.00,0.43
2,Willingborotownship,34,1,0.04,0.77,1.00,0.08,0.12,0.10,0.51,...,0.19,0.30,0.73,0.64,0.65,0.02,0.39,0.28,0.00,0.12
3,Bethlehemtownship,42,1,0.01,0.55,0.02,0.95,0.09,0.05,0.38,...,0.11,0.72,0.64,0.61,0.53,0.04,0.09,0.02,0.00,0.03
4,SouthPasadenacity,6,1,0.02,0.28,0.06,0.54,1.00,0.25,0.31,...,0.70,0.42,0.49,0.73,0.64,0.01,0.58,0.10,0.00,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1988,TempleTerracecity,12,10,0.01,0.40,0.10,0.87,0.12,0.16,0.43,...,0.22,0.28,0.34,0.48,0.39,0.01,0.28,0.05,0.00,0.09
1989,Seasidecity,6,10,0.05,0.96,0.46,0.28,0.83,0.32,0.69,...,0.53,0.25,0.17,0.10,0.00,0.02,0.37,0.20,0.00,0.45
1990,Waterburytown,9,10,0.16,0.37,0.25,0.69,0.04,0.25,0.35,...,0.25,0.68,0.61,0.79,0.76,0.08,0.32,0.18,0.91,0.23
1991,Walthamcity,25,10,0.08,0.51,0.06,0.87,0.22,0.10,0.58,...,0.45,0.64,0.54,0.59,0.52,0.03,0.38,0.33,0.22,0.19
1992,Ontariocity,6,10,0.20,0.78,0.14,0.46,0.24,0.77,0.50,...,0.68,0.50,0.34,0.35,0.68,0.11,0.30,0.05,1.00,0.48

In [6]:
# data structure

df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1993 entries, 0 to 1992
Data columns (total 103 columns):
 #    Column  Dtype
---   ------  -----
 0    C1      object
 1    C2      int64
 2    C3      int64
 3    C4      float64
 4    C5      float64
 5    C6      float64
 6    C7      float64
 7    C8      float64
 8    C9      float64
 9    C10     float64
 10   C11     float64
 11   C12     float64
 12   C13     float64
 13   C14     float64
 14   C15     float64
 15   C16     float64
 16   C17     float64
 17   C18     float64
 18   C19     float64
 19   C20     float64
 20   C21     float64
 21   C22     float64
 22   C23     float64
 23   C24     float64
 24   C25     float64
 25   C26     float64
 26   C27     float64
 27   C28     float64
 28   C29     float64
 29   C30     float64
 30   C31     float64
 31   C32     float64
 32   C33     float64
 33   C34     float64
 34   C35     float64
 35   C36     float64
 36   C37     float64
 37   C38     float64
 38   C39     float64
 39   C40     float64
 40   C41     float64
 41   C42     float64
 42   C43     float64
 43   C44     float64
 44   C45     float64
 45   C46     float64
 46   C47     float64
 47   C48     float64
 48   C49     float64
 49   C50     float64
 50   C51     float64
 51   C52     float64
 52   C53     float64
 53   C54     float64
 54   C55     float64
 55   C56     float64
 56   C57     float64
 57   C58     float64
 58   C59     float64
 59   C60     float64
 60   C61     float64
 61   C62     float64
 62   C63     float64
 63   C64     float64
 64   C65     float64
 65   C66     float64
 66   C67     float64
 67   C68     float64
 68   C69     float64
 69   C70     float64
 70   C71     float64
 71   C72     float64
 72   C73     float64
 73   C74     float64
 74   C75     float64
 75   C76     float64
 76   C77     float64
 77   C78     float64
 78   C79     float64
 79   C80     float64
 80   C81     float64
 81   C82     float64
 82   C83     float64
 83   C84     float64
 84   C85     float64
 85   C86     float64
 86   C87     float64
 87   C88     float64
 88   C89     float64
 89   C90     float64
 90   C91     float64
 91   C92     float64
 92   C93     float64
 93   C94     float64
 94   C95     float64
 95   C96     float64
 96   C97     float64
 97   C98     float64
 98   C99     float64
 99   C100    float64
 100  C101    float64
 101  C102    float64
 102  C103    float64
dtypes: float64(100), int64(2), object(1)
memory usage: 1.6+ MB

In [7]:
df.describe()

,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,...,C94,C95,C96,C97,C98,C99,C100,C101,C102,C103
count,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,...,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000
mean,28.693929,5.496237,0.057526,0.463462,0.179709,0.753643,0.153698,0.144009,0.424260,0.493879,...,0.215600,0.608986,0.535068,0.626483,0.651535,0.065203,0.232840,0.161666,0.093939,0.237998
std,16.395117,2.872650,0.126903,0.163731,0.253480,0.244079,0.208929,0.232549,0.155223,0.143599,...,0.231182,0.204336,0.181396,0.200555,0.198271,0.109480,0.203142,0.229111,0.240335,0.233042
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12.000000,3.000000,0.010000,0.350000,0.020000,0.630000,0.040000,0.010000,0.340000,0.410000,...,0.060000,0.470000,0.420000,0.520000,0.560000,0.020000,0.100000,0.020000,0.000000,0.070000
50%,34.000000,5.000000,0.020000,0.440000,0.060000,0.850000,0.070000,0.040000,0.400000,0.480000,...,0.130000,0.630000,0.540000,0.670000,0.700000,0.040000,0.170000,0.070000,0.000000,0.150000
75%,42.000000,8.000000,0.050000,0.540000,0.230000,0.940000,0.170000,0.160000,0.470000,0.540000,...,0.280000,0.780000,0.660000,0.770000,0.790000,0.070000,0.280000,0.190000,0.000000,0.330000
max,56.000000,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
import sweetviz as sv
import warnings
warnings.filterwarnings('ignore')
result = sv.analyze(df) 
result.show_html('sweetviz_analyze.html')

                                             |                                                                …

Report sweetviz_analyze.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [9]:
df.groupby(['C1'], group_keys=True).apply(lambda x: x)

                                     C1  C2  C3    C4    C5    C6    C7    C8  \
C1
Aberdeencity     351       Aberdeencity  46   2  0.02  0.35  0.00  0.94  0.03
                 474       Aberdeencity  53   3  0.01  0.30  0.01  0.91  0.12
Aberdeentown     1         Aberdeentown  24   1  0.00  0.42  0.49  0.56  0.17
Aberdeentownship 1400  Aberdeentownship  34   8  0.01  0.56  0.22  0.75  0.21
Adacity          1670           Adacity  40   9  0.01  0.29  0.08  0.72  0.03
...                                 ...  ..  ..   ...   ...   ...   ...   ...
Youngstowncity   674     Youngstowncity  39   4  0.14  0.40  0.74  0.38  0.02
YubaCitycity     669       YubaCitycity   6   4  0.03  0.41  0.05  0.64  0.47
Yucaipacity      88         Yucaipacity   6   1  0.04  0.34  0.01  0.89  0.06
Yukoncity        1656         Yukoncity  40   9  0.02  0.55  0.01  0.91  0.10
Zanesvillecity   306     Zanesvillecity  39   2  0.03  0.35  0.21  0.83  0.01

                         C9   C10  ...   C94   C95   C96   C97   C98   C99  \
C1                                 ...
Aberdeencity     351   0.00  0.53  ...  0.03  0.77  0.52  0.61  0.70  0.02
                 474   0.05  0.38  ...  0.12  0.65  0.53  0.74  0.73  0.03
Aberdeentown     1     0.04  0.39  ...  0.14  0.49  0.54  0.67  0.56  0.01
Aberdeentownship 1400  0.09  0.36  ...  0.24  0.48  0.71  0.59  0.63  0.01
Adacity          1670  0.02  0.61  ...  0.03  0.75  0.48  0.59  0.82  0.03
...                     ...   ...  ...   ...   ...   ...   ...   ...   ...
Youngstowncity   674   0.07  0.42  ...  0.08  0.76  0.76  0.90  0.86  0.10
YubaCitycity     669   0.33  0.40  ...  0.38  0.53  0.25  0.38  0.62  0.02
Yucaipacity      88    0.20  0.32  ...  0.21  0.47  0.46  0.59  0.78  0.08
Yukoncity        1656  0.04  0.48  ...  0.05  0.65  0.48  0.48  0.79  0.07
Zanesvillecity   306   0.01  0.39  ...  0.02  0.95  0.57  0.87  0.89  0.03

                       C100  C101  C102  C103
C1
Aberdeencity     351   0.25  0.00   0.0  0.08
                 474   0.13  0.17   0.0  0.22
Aberdeentown     1     0.21  0.02   0.0  0.43
Aberdeentownship 1400  0.26  0.72   0.0  0.12
Adacity          1670  0.10  0.01   0.0  0.22
...                     ...   ...   ...   ...
Youngstowncity   674   0.24  0.14   0.0  0.95
YubaCitycity     669   0.33  0.01   0.0  0.27
Yucaipacity      88    0.10  0.01   0.0  0.15
Yukoncity        1656  0.07  0.02   0.0  0.05
Zanesvillecity   306   0.21  0.07   0.0  0.32

[1993 rows x 103 columns]

In [10]:
# C1 contains duplicates
# No duplicated rows, no missing data, etc. 
# C4-C103 - normalized data [0..1]
# C2, C3 - categorial

In [11]:
# C2, C3 Minimax normalization 

df[['C2', 'C3']] = df[['C2', 'C3']].apply(lambda x: (round((x - x.min()) / (x.max() - x.min()), 2)))
df

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C94,C95,C96,C97,C98,C99,C100,C101,C102,C103
0,Tukwilacity,0.95,0.0,0.00,0.16,0.12,0.74,0.45,0.07,0.26,...,0.21,0.50,0.34,0.60,0.52,0.02,0.12,0.45,0.00,0.67
1,Aberdeentown,0.42,0.0,0.00,0.42,0.49,0.56,0.17,0.04,0.39,...,0.14,0.49,0.54,0.67,0.56,0.01,0.21,0.02,0.00,0.43
2,Willingborotownship,0.60,0.0,0.04,0.77,1.00,0.08,0.12,0.10,0.51,...,0.19,0.30,0.73,0.64,0.65,0.02,0.39,0.28,0.00,0.12
3,Bethlehemtownship,0.75,0.0,0.01,0.55,0.02,0.95,0.09,0.05,0.38,...,0.11,0.72,0.64,0.61,0.53,0.04,0.09,0.02,0.00,0.03
4,SouthPasadenacity,0.09,0.0,0.02,0.28,0.06,0.54,1.00,0.25,0.31,...,0.70,0.42,0.49,0.73,0.64,0.01,0.58,0.10,0.00,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1988,TempleTerracecity,0.20,1.0,0.01,0.40,0.10,0.87,0.12,0.16,0.43,...,0.22,0.28,0.34,0.48,0.39,0.01,0.28,0.05,0.00,0.09
1989,Seasidecity,0.09,1.0,0.05,0.96,0.46,0.28,0.83,0.32,0.69,...,0.53,0.25,0.17,0.10,0.00,0.02,0.37,0.20,0.00,0.45
1990,Waterburytown,0.15,1.0,0.16,0.37,0.25,0.69,0.04,0.25,0.35,...,0.25,0.68,0.61,0.79,0.76,0.08,0.32,0.18,0.91,0.23
1991,Walthamcity,0.44,1.0,0.08,0.51,0.06,0.87,0.22,0.10,0.58,...,0.45,0.64,0.54,0.59,0.52,0.03,0.38,0.33,0.22,0.19
1992,Ontariocity,0.09,1.0,0.20,0.78,0.14,0.46,0.24,0.77,0.50,...,0.68,0.50,0.34,0.35,0.68,0.11,0.30,0.05,1.00,0.48